<ion-view view-title="SIGN UP">
<ion-content>
<md-content layout-padding >

<div layout="row" layout-margin>  
	<div flex class="square" style="background: #f44336;" ui-sref="tab.trending">
		<div style="display: table-cell;vertical-align: middle;">
		   <center>
			<md-icon md-svg-src="img/icon/ic_trending_up_white_24px.svg"
			class="s48"
                 aria-label="Insert Drive Icon">
        	</md-icon>
			Trending
			</center>
		</div>	
	    
	</div>
	<div flex green class="square" style="background: #e91e63;" ui-sref="promotions">
		<div style="margin-top: 50%">
		<center>
			Promotions
		</center>	
		</div>
	</div>	
</div>	 

<div layout="row" layout-margin>  
	<div flex class="square" style="background: #e91e63;">
		<div style="margin-top: 50%">
		<center>
			
			Kr+ Lookbook
		</center>	
	</div>
	</div>
	<div flex style="background: #3f51b5;" ui-sref="lookbook">
		<div style="margin-top: 50%">
		<center>
			My Lookbook
		</center>	
		</div>
	</div>	
</div>	 

<div layout="row" layout-margin>  
	<div flex class="square" style="background: #2196f3;" ui-sref="video">
		<div style="margin-top: 50%">
		<center>
			Videos
		</center>	
		</div>
	</div>
	<div flex  style="background: #00bcd4;">
		<div style="margin-top: 50%">
		<center>
			Love it!
		</center>
		</div>	
	</div>	
</div>	 

</md-content>
</ion-content>
</ion-view>
