<md-dialog aria-label="Detail">
  <md-dialog-content style="max-width:800px;max-height:810px; ">
         <md-list-item class="md-2-line">
            <img ng-src="http://findicons.com/files/icons/1072/face_avatars/300/i03.png" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text">
              <h3>KAKARUTO</h3>
              <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown </p>
              <md-button class="button cus-button-grey" ng-click="chosen('kakaruto')">Select</md-button>
            </div>
          </md-list-item>
  </md-dialog-content>
  
</md-dialog>