
<div header4></div>
<ion-view view-title="FORGOT PASSWORD">
<ion-content>
<md-content layout-padding >

<div layout="row" style="margin-top : 50%">
	   <div flex >
	   	  <center>
	   	  	<h3 style="color:#fee451">Having trouble signing in?</h3>
	   	  	<p>
	   	  		To reset your password, enter the email address you use to sign in.
	   	  	</p>
	   	  </center>
	   	  <form>
		 
		 	<div class="login-wraper">
			  	<center>
			  	<input type="text"  class="login-textfield" placeholder="email address" style="width:100%">  
			     </center>
			  </div>


			<div style="margin-top:5%">
		     <center>
			    <button class="button cus-button"  ui-sref="home">
					OK!
			    </button>
			</center>
			</div>

	     </form>
		</div>
	</div>	 

</md-content>
</ion-content>
</ion-view>
