
<div header4></div>
<ion-view view-title="FORGOT PASSWORD">
<ion-content>
<md-content layout-padding >

<div layout="row" style="margin-top : 50%">
	   <div flex >
	   	  <center>
	   	  	<h3 style="color:#fee451">Having trouble signing in?</h3>
	   	  	<p>
	   	  		To reset your password, enter the email address you use to sign in.
	   	  	</p>
	   	  </center>
	   	  <form name="form" ng-submit="reset(form)" novalidate>
		 
		 	<div class="login-wraper">
			  	<center>
			  	<input type="email" name="email"  class="login-textfield" ng-model="resetemail"  placeholder="email address" style="width:100%">  
			  	 <div role="alert">
			      <span class="error" ng-show="form.email.$error.required && form.email.$dirty">
			        Required!</span>
			      <span class="error" ng-show="form.email.$error.email && form.email.$dirty">
			        Not valid email!</span>
			    </div>
			     </center>
			  </div>

			<div style="margin-top:5%">
		     <center>
			    <a class="button cus-button" ng-click="reset(form)" ng-disabled = "!form.$dirty ||  !form.$valid">
					OK!
			    </a>
			</center>
			</div>

	     </form>
		</div>
	</div>	 

</md-content>
</ion-content>
</ion-view>
