

<ion-view view-title="FORGOT PASSWORD">
<ion-content>
<md-content layout-padding >

<div layout="row">
	   <div flex >
	   	  <center>
	   	  	<h4>Having trouble signing in?</h4>
	   	  	<p>
	   	  		To reset your password, enter the email address you use to sign in.
	   	  	</p>
	   	  </center>
	   	  <form>
		  	<md-input-container flex>
		  		<label>Email</label>
		        <input  required name="email" ng-model="email">
		    </md-input-container>s
		    <md-button class="md-raised md-primary">OK!</md-button>
		  </form>
		</div>
	</div>	 

</md-content>
</ion-content>
</ion-view>
