 <ion-view view-title="SIGN UP" class="has-footer">
<!--  <div class="bar bar-header bar-positive">
  <h1 class="title">bar-light</h1>
</div> -->
<ion-header-bar  align-title="left" class="bar bar-header bar-positive">
  <div class="buttons">
  	     <i class="ion-plus" style="font-size:40px ; color:yellow"></i>
  </div>
  
  <h1 class="title" style="text-align:center; font-size:40px" >KR+</h1>
  
  <div class="buttons">
     <i class="ion-location" style="font-size:40px ; color:yellow"></i>
  </div>
</ion-header-bar>

<ion-content >

<div class="row" style="height:33.3%; padding:0px; margin:0px;border-bottom: solid;
    border-color: grey;
    border-width: 1px;
">
	<div style="width:50%; 
	border-right: solid;
    border-color: yellow;
    border-width: 1px;
	position: relative;
    ">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-bolt-outline" style="font-size:82px ; color:yellow"></i><br />
	     <label class="font-20px">Trending</label>
	 	 </center>
	    </div>	
	</div>	

	<div style="width:50%; position: relative;">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-pricetags-outline" style="font-size:82px ; color:yellow"></i><br />
	     <label class="font-20px">Promotions</label>
	 	 </center>
	    </div>	
	</div>	

</div>
<div class="row" style="height:33.3%; padding:0px; margin:0px; border-bottom: solid;
    border-color: grey;
    border-width: 1px;
">
	<div style="width:50%; 
	border-right: solid;
    border-color: yellow;
    border-width: 1px;
	position: relative;
    ">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-personadd-outline" style="font-size:82px; color:yellow"></i><br />
	     <label class="font-20px">Kr+ Lookbook</label>
	 	 </center>
	    </div>	
	</div>	

	<div style="width:50%; position: relative;">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-person-outline" style="font-size:82px ; color:yellow"></i><br />
	     <label class="font-20px">MY Lookbook</label>
	 	 </center>
	    </div>	
	</div>	
</div>
<div class="row" style="height:33.3%; padding:0px; margin:0px ">
	<div style="width:50%; 
	border-right: solid;
    border-color: yellow;
    border-width: 1px;
	position: relative;
    ">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-film-outline" style="font-size:82px ; color:yellow"></i><br />
	     <label class="font-20px">Video</label>
	 	 </center>
	    </div>	
	</div>	

	<div style="width:50%; position: relative;">

	    <div style=" color:#fff ; 
	    display: inline-block;
	    position:absolute;
	    top:30%;
	    width:100%
		">
		<center>
	     <i class="ion-ios-heart-outline" style="font-size:82px; color:yellow"></i><br />
	     <label class="font-20px">Love it!</label>
	 	 </center>
	    </div>	
	</div>	

</div>


</ion-content>
<ion-footer-bar  align-title="center" class="bar bar-footer bar-positive">
	<h1 class="title">
		<i class="ion-ios-home-outline" style="font-size:42px; padding:5%; color:yellow"></i>
		<i class="ion-ios-personadd-outline" style="font-size:42px; padding:5%; color:yellow"></i>
		<i class="ion-ios-person-outline" style="font-size:42px; padding:5%;color:yellow"></i>
		<i class="ion-ios-gear-outline" style="font-size:42px; padding:5%; color:yellow"></i>
	</h1>
</ion-footer-bar>
</ion-view>