<ion-view>

<ion-content locking="true" padding="true">
 
  <div style="padding-top:44px">
     <center><img src = "http://krplus.com/images/logo_KrPlus.png" ></center>
  </div>
  <div class="login-wraper">
  	<center>
  	<input type="text"  class="login-textfield" placeholder="Username">  
     </center>
  </div>
  <div class="login-wraper">
  	<center>
  	<input type="password"  class="login-textfield"  placeholder="Password"> 
  </center>
  </div>
  <div>
  	<center>
    <button class="button cus-button"  ui-sref="home">
      SIGN IN
    </button>

</center>
  </div>

	
</ion-content>     

<ion-footer-bar  align-title="center" class="bar bar-footer bar-positive" style="height:60px ; padding:0px ; background:none">
	<div style="width:50%  ; color: #363636 ;  vertical-align: middle ;display: table-cell;">
 		 	<div style="padding-top: 10%;
    text-align: center;
    font-size: 20px;">	Sign Up</div>
	</div>	
	<div style="width:50% ; color: #363636 ; border-left:solid 1px #ffe54e">
		  <div style="padding-top: 10%;
    text-align: center;
    font-size: 20px;">  Forget Password</div>
  </div>
	</div>	
</ion-footer-bar>
</ion-view>