<ion-view>

<ion-content locking="true" padding="true">
 
  <div style="padding-top:44px">
     <center><img src = "http://krplus.com/images/logo_KrPlus.png" ></center>
  </div>
  <div class="login-wraper">
  	<center>
  	<input type="text"  class="login-textfield" placeholder="Username">  
     </center>
  </div>
  <br />
  <div class="login-wraper">
  	<center>
  	<input type="password"  class="login-textfield"  placeholder="Password"> 
  </center>
  </div>
  <div>
  	<center>
  	<button class="cus-button">
 		 Login
	</button>
</center>
  </div>

	
</ion-content>     

<ion-footer-bar  align-title="center" class="bar bar-footer bar-positive" style="height:55px ; padding-top: 0px; padding-bottom: 0px">
	<div style="width:50% ; font-size:55px">
		<center>
			<button class="cus-footer-button">
 		 		Sign Up
			</button>
		</center>
	</div>	
	<div style="width:50% ; border-left:solid yellow">
		<center>
			<button class="cus-footer-button">
 		 		Forget Password
			</button>
		</center>
	</div>	
</ion-footer-bar>
</ion-view>