<ion-view view-title="Lookbook" class="has-footer">
<ion-header-bar  align-title="left" class="bar bar-header bar-positive">
  <div md-ink-ripple class="buttons header-left-button" >
         <i  class="ion-chevron-left" style="font-size:40px ; color:yellow"></i>
  </div>
  
  <div class="title" style="text-align:center">
      <i  class="ion-ios-heart-outline" style="font-size:40px ; color:yellow; margin-right:10%"></i>
      <i  class="ion-ios-upload-outline" style="font-size:40px ; color:yellow"></i>

  </div>

<!--   <h1 class="title" style="text-align:center; font-size:40px" >KR+</h1>
 -->  
 <!--  <div md-ink-ripple class="buttons header-right-button" style="right: 15px;">
     <i class="ion-location" style="font-size:40px ; color:yellow"></i>
  </div> -->
</ion-header-bar>
<ion-content scroll="false" overflow-scroll="false"  >
    <main class='md-fill' flex style="overflow: scroll;">
    	<md-card style="margin:0px">
	        <img ng-src="http://localhost/kr-lookbook/BOB/large/BOB - {{image}}.jpg" class="md-card-image" alt="Washed Out" 
	        md-swipe-left="nextImage()" 
	        md-swipe-right="nextImage()">
	        <div class="image-desc">
	        	<div class="content">
		        	<img ng-src="https://goo.gl/5QOY33" width="50" height="50" alt="Thumb!" />
			        <p >
			         #longhair #hairdo #haircolor #hapy
			        </p>
		    	</div>
		</div>
	</main>
</ion-content>

<ion-footer-bar  align-title="center" class="bar bar-footer bar-positive">
  <h1 class="title">
    <i class="ion-ios-home-outline  md-fab " style="font-size:42px; padding:5%; color:white"></i>
    <i class="ion-ios-personadd-outline" style="font-size:42px; padding:5%; color:white"></i>
    <i class="ion-ios-person-outline" style="font-size:42px; padding:5%;color:white"></i>
    <i class="ion-ios-gear-outline" style="font-size:42px; padding:5%; color:white"></i>
  </h1>
</ion-footer-bar>
</ion-view>
	
