<div header4>
</div>
<ion-view view-title="Lookbook" class="has-footer">

<ion-content scroll="true" overflow-scroll="false" class="gallery" lazy-scroll >
<div class="gallery" style="background-color:#ffe54e"   >
  <div class="row" ng-repeat = "rows in thumbs">
   <div class="col" ng-repeat = "item in rows">
        <!-- <img ng-src="https://s3-us-west-2.amazonaws.com/krplus/BOB/thumb/BOB+-+{{item}}.jpg" ui-sref="lookbook-detail({image:item})"> -->
<!--           <img fallbackSrc='' image-lazy-src="https://s3-us-west-2.amazonaws.com/krplus/BOB/thumb/BOB+-+{{item}}.jpg" ui-sref="lookbook-detail({image:item})"  lazy-scroll-resize="true" image-lazy-distance-from-bottom-to-load="100" image-lazy-loader="lines" >
 -->    
        <div style="background-color:white">
           <div style="min-height:251px ; 
           background-color:white;
           background:url('https://s3-us-west-2.amazonaws.com/krplus/BOB/thumb/BOB+-+{{item}}.jpg') ;
           background-size:cover ; 
           background-repeat: no-repeat;
           "
           ui-sref="lookbook-detail({image:item})"
           >

           </div>
      </div>
    </div>
  
  </div>

 
</div>
</ion-content>


</ion-view>
<div footer></div>

