<ion-view view-title="Lookbook" class="has-footer">

<ion-content scroll="false" overflow-scroll="false"  >
    <main class='md-fill' flex style="overflow: scroll;">
    	<md-card style="margin:0px">
	        <img ng-src="http://localhost/kr-lookbook/BOB/large/BOB - {{image}}.jpg" class="md-card-image" alt="Washed Out" 
	        md-swipe-left="nextImage()" 
	        md-swipe-right="nextImage()">
	        <div class="image-desc">
	        	<div class="content">
            <div class="row">
            <div class="col col-67" style="color:#ffe54e ; border-right: solid 1px; font-size:15px">
			         #longhair #hairdo #haircolor #hightlight #sunshine
            </div>
            <div class="col" style="color:#ffe54e">
            <center>
                    <i class="icon ion-android-favorite-outline" style="font-size:20px"></i><br>
                    1,024 Loves
            </center>
            </div>
            </div>
		    	</div>
		</div>
	</main>
</ion-content>
</ion-view>
	
