<div header3>
</div>
<ion-view view-title="Lookbook" class="has-footer">

<ion-content scroll="false" overflow-scroll="false"  >
   
   <div style="height:40%">
      <div class="row">
          <h4>Before Hair Cut</h4>
      </div>
      <div class="row">
      </div>
        <div class="row">
<!--             <div class="col"  ng-click="getPhotoBefore(0)">
 -->              
           <div class="col"  ng-click="getPhotoBefore(0)">
           <center>
               <img ng-src="{{pic.before[0]}}" style="max-width:80%; border-radius: 10px" />
                    <br />
                   Pic 1
                </center>
            </div>
             <div class="col"  ng-click="getPhotoBefore(1)">
               <center>
               <img ng-src="{{pic.before[1]}}" style="max-width:80%; border-radius: 10px" />
                    <br />
                   Pic 1
                </center>
            </div>
             <div class="col"  ng-click="getPhotoBefore(2)">
               <center>
               <img ng-src="{{pic.before[2]}}" style="max-width:80%; border-radius: 10px" />
                    <br />
                   Pic 1
                </center>
            </div>
        </div>
   </div>
   <div style="height:40% ; border-top:solid 1px #ffe54e">
    <div class="row">
          <h4>After Hair Cut</h4>
    </div>
      <div class="row">
            <div class="col"  ng-click="triggerAction(1)">
               <center>
               <img ng-src="{{pic.after[0]}}" style="max-width:80%; border-radius: 10px" />
                    <br />
                   Pic 1
                </center>
            </div>
             <div class="col"  ng-click="triggerAction(1)">
               <center>
               <img ng-src="{{pic.after[1]}}" style="max-width:80% ;  border-radius: 10px;" />
                    <br />
                   Pic 1
                </center>
            </div>
             <div class="col"  ng-click="triggerAction(1)">
               <center>
               <img ng-src="{{pic.after[2]}}" style="max-width:80%; border-radius: 10px" />
                    <br />
                   Pic 1
                </center>
            </div>
      </div>
   </div>
    <div style="height:20%"  ng-click="getPhoto()">
     <center>
        <button class="button cus-button-grey" style="width:50%" >
            Stylist
        </button>
     </center>   
    </div>

</ion-content>
</ion-view>
<div footer></div>


    
