<div header4>
</div>
<ion-view view-title="My LOOKBOOK" class="has-footer">

<ion-content scroll="true" overflow-scroll="false" >
<div style="height:100%">
   <div style="height:65% ;
    background-image: url('http://krplus.com/lookbook/bob/BOB1000.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;position: relative; ">

     <div class="image-desc" style="width:100%">
        <div class="content">
            <div class="row">
             
            <div class="col" style="color:#ffe54e ">
               <center>  30.08.15 </center>
            </div>
            
            </div>
    </div>
    </div>
   </div>
   <div class="row">
       <div class="col" style="text-align:center;border-right: solid 1px #ffe64e;">
       <img src = "img/all.png" style="max-width:90px" />
       </div>
       <div class="col" style="text-align:center">
       <img src = "img/favorite.png" style="max-width:90px" />
       </div>
   </div>
   <div class="row" style=" margin-top: 10px;">
       <div class="col">
        <center>
            <button class="button cus-button"  ui-sref="mylookbook-add" style="background-color: #555555;color: #ffe64e;">
              + NEW LOOK
            </button>
        </center>
    </div>
   </div>
</div>
</ion-content>
</ion-view>
<div footer></div>


