<div header8></div>
<ion-view view-title="Lookbook" class="has-footer">

<ion-content scroll="false" overflow-scroll="false"  >
    <main class='md-fill' flex style="overflow: scroll;">
        <md-card style="margin:0px">
         
            <img ng-src = "{{photo}}" class = "md-card-image"
             on-swipe-left="nextImage('fwd')" 
             on-swipe-right="nextImage('bwd')">

            <div class="image-desc">
            <div class="content">
            <div class="row">
                <div class="col" style="color:#F4E057">

                 <center>{{date | date:'MM.dd.yyyy'}}</center>
                 <center>{{type}}</center>
              </div>
            </div>
             </div>
        </div>
    </main>
</ion-content>
</ion-view>
<div footer></div>

