<div layout="column" layout-fill>

    <header>
       <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Back">
          <md-icon md-svg-icon="img/icon/ic_arrow_back_white_24px.svg" class="md-light md-48"></md-icon>
        </md-button>
        <h2>
          <span class="title">PROMOTIONS</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icon/ic_library_books_white_24px.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icon/ic_trending_up_white_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    </header>
    <main class='md-padding' flex style="overflow: scroll;">
   	<md-content>
   		<md-list>
   			<md-list-item class="md-3-line pink" >
		         <md-icon md-svg-icon="img/icon/ic_card_giftcard_black_24px.svg"
		           style=" color: rgb(244,67,54)"
		         ></md-icon>
		        <div class="md-list-item-text">
		          <h3>20% off hair cut</h3>
		          <p>Lorem ipsum dorea sit amet vita kimo </p>
		        </div>
		      </md-list-item>
		      <md-divider ></md-divider>
		      <md-list-item class="md-3-line" >
				<md-icon md-svg-icon="img/icon/ic_card_giftcard_black_24px.svg"
		           style=" color: rgb(244,67,54)"
		        ></md-icon>		        
		        <div class="md-list-item-text">
		          <h3>20% off hair cut</h3>
		          <p>Lorem ipsum dorea sit amet vita kimo </p>
		        </div>
		      </md-list-item>
		      <md-divider ></md-divider>
		      <md-list-item class="md-3-line" >
		        <md-icon md-svg-icon="img/icon/ic_card_giftcard_black_24px.svg"
		           style=" color: rgb(244,67,54)"
		         ></md-icon>
		        <div class="md-list-item-text">
		          <h3>20% off hair cut</h3>
		          <p>Lorem ipsum dorea sit amet vita kimo </p>
		        </div>
		      </md-list-item>
		      <md-divider ></md-divider>
		      <md-list-item class="md-3-line" >
		        <md-icon md-svg-icon="img/icon/ic_card_giftcard_black_24px.svg"
		           style=" color: rgb(244,67,54)"
		         ></md-icon>
		        <div class="md-list-item-text">
		          <h3>20% off hair cut</h3>
		          <p>Lorem ipsum dorea sit amet vita kimo </p>
		        </div>
		      </md-list-item>
   	    </md-list>

	</md-content>
	</main>
	<ion-footer-bar align-title="left" class="bar-assertive">
    <div layout="row" layout-align="center center" style="margin-left:auto; margin-right:auto">
	    <md-button class="md-icon-button" aria-label="Home">
	          <md-icon md-svg-icon="img/icon/ic_home_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>

	    <md-button class="md-icon-button" aria-label="Kr+ Lookbook">
	          <md-icon md-svg-icon="img/icon/ic_library_books_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>


	    <md-button class="md-icon-button" aria-label="Lookbook">
	          <md-icon md-svg-icon="img/icon/ic_face_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>

	    <md-button class="md-icon-button" aria-label="Home">
	          <md-icon md-svg-icon="img/icon/ic_redeem_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>
	</div>
</ion-footer-bar >
</div>