<div header4>
</div>
<ion-view view-title="Lookbook" class="has-footer">

<ion-content scroll="true" overflow-scroll="true"  >
    

   <br /> 
    <div class="list" >
    <a class="item item-icon-right"  ng-click="changePassword()"  md-ink-ripple style="color:#F4E057">
     <center> Change Password</center>
      <i class="icon ion-chevron-right" style="font-size:15px;color:#F4E057"></i>
    </a>
    </div>

    <br /> 
    
    <div class="list" style=" border:none" >
    <md-list>
        <md-list-item>
            <p>Push Notification</p> 
            <label class="toggle">
               <input type="checkbox" ng-model="setting.notification"  ng-click="changeNotification()">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
             <!--  <md-switch class="md-secondary" ng-model="setting.notification" ng-click="changeNotification()"></md-switch> -->
        </md-list-item>
    </md-list>
    </md-list-item>
    </div>
      
        
</ion-content>
</ion-view>
<div footer></div>

