<ion-view view-title="SIGN UP">
<ion-content>
<md-content layout-padding >

<div layout="row">
	   <div flex >
		  <form>
		  	<md-input-container flex>
		  		<label>Name</label>
		        <input  required name="name" ng-model="signup.name">
		    </md-input-container>

			<md-input-container flex>
		  		<label>Email</label>
		        <input  required name="email" ng-model="signup.email">
		    </md-input-container>

		    <md-input-container flex>
		  		<label>Phone Number</label>
		        <input  required name="phone" ng-model="signup.phone">
		    </md-input-container>

		    <md-input-container flex>
		  		<label>Username</label>
		        <input  required name="username" ng-model="signup.username">
		    </md-input-container>

		    <md-input-container flex>
		  		<label>Password</label>
		        <input  required name="username" ng-model="signup.password">
		    </md-input-container>

		    <div>
		    	<center>
		    	<small>
		    		By clicking below you agree to the terms & conditions of KR+
		    	</small>
		    	<center>
		    </div>

		      <md-button class="md-raised md-primary">Create Account</md-button>

		  </form>
		</div>
	</div>	 

</md-content>
</ion-content>
</ion-view>
