<div header4>
</div>
<ion-view view-title="Stylist" class="has-footer">

<ion-content scroll="true" overflow-scroll="true" >
  <md-list ng-repeat = "stylist in stylists track by $index">
      <md-list-item class="md-2-line" >
         <img ng-src="http://krplus.com/lookbook/{{category}}/{{stylist.filename}}" class="md-avatar">
        <div class="md-list-item-text" ng-click="stylistDetail($index)" >
          <h3>{{stylist.name}} </h3>
          <p>{{stylist.desc}}</p>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
  </md-list>
</ion-content>

</ion-view> 



<div footer></div>

    