<div header2>
</div>
<ion-view view-title="Trending" class="has-footer">

<ion-content scroll="true" overflow-scroll="false" class="gallery">
<div class="gallery" style="background-color:#ffe54e" >
  <div class="row" ng-repeat = "rows in thumbs">
   <div class="col" ng-repeat = "item in rows">
        <img ng-src="https://s3-us-west-2.amazonaws.com/krplus/BOB/thumb/BOB+-+{{item}}.jpg" ui-sref="lookbook-detail({image:item})">
        
    </div>
  
  </div>

 
</div>
</ion-content>


</ion-view>
<div footer></div>

