<ion-view view-title="Lookbook" class="has-footer">
<div class="bar bar-header item-input-inset" ng-hide="!search">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear" ng-click = "cancelFind()">
    Cancel
  </button>
</div>
<ion-header-bar  align-title="left" class="bar bar-header bar-positive" ng-hide="search">
  <div md-ink-ripple class="buttons header-left-button" >
         <i  class="ion-chevron-left" style="font-size:40px ; color:yellow"></i>
  </div>
  
  <h1 class="title" style="text-align:center; font-size:20px" >Video</h1>
  
  
</ion-header-bar>

<ion-content scroll="true" overflow-scroll="false" class="lookbook" >
   		<div layout="column">
	
		 <md-card >
		    <a href="https://www.youtube.com/embed/UYmOuMUgfYM?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/UYmOuMUgfYM/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Kr+</p>
		   </md-card-content>
		 </md-card>

		 <md-card>
		  	<!--<iframe width="100%" src="https://www.youtube.com/embed/UYmOuMUgfYM" frameborder="0" allowfullscreen></iframe> -->
		    <a href="https://www.youtube.com/embed/SmRzvvJ4TnA?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/SmRzvvJ4TnA/0.jpg"  class="md-card-image">
		    </a>
		    <md-card-content>
		    <p>Interview: Kim Robinson on Wearing the Right Hairstyle</p>
		   </md-card-content>	
		  </md-card>

		 <md-card >
		    <a href="https://www.youtube.com/embed/UaMI4CAy3Js?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/UaMI4CAy3Js/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Hair Rejuvenation from Kim Robinson</p>
		   </md-card-content>
		 </md-card>

		 <md-card >
		    <a href="https://www.youtube.com/embed/JUU-iVvC9WM?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/JUU-iVvC9WM/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Kim Robinson教你打造星級派對髮型</p>
		   </md-card-content>
		 </md-card>
		 
		</div>
	
</ion-content>

<ion-footer-bar  align-title="center" class="bar bar-footer bar-positive">
  <h1 class="title">
    <i class="ion-ios-home-outline  md-fab " style="font-size:42px; padding:5%; color:white"></i>
    <i class="ion-ios-personadd-outline" style="font-size:42px; padding:5%; color:white"></i>
    <i class="ion-ios-person-outline" style="font-size:42px; padding:5%;color:white"></i>
    <i class="ion-ios-gear-outline" style="font-size:42px; padding:5%; color:white"></i>
  </h1>
</ion-footer-bar>
</ion-view>



	