<div layout="column" layout-fill>

    <header>
       <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Back">
          <md-icon md-svg-icon="img/icon/ic_arrow_back_white_24px.svg" class="md-light md-48"></md-icon>
        </md-button>
        <h2>
          <span class="title">Video</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icon/ic_library_books_white_24px.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icon/ic_trending_up_white_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    </header>
    <main class='md-padding' flex style="overflow: scroll;">
   	<md-content>
   		<div layout="column">
	
		 <md-card >
		    <a href="https://www.youtube.com/embed/UYmOuMUgfYM?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/UYmOuMUgfYM/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Kr+</p>
		   </md-card-content>
		 </md-card>

		 <md-card>
		  	<!--<iframe width="100%" src="https://www.youtube.com/embed/UYmOuMUgfYM" frameborder="0" allowfullscreen></iframe> -->
		    <a href="https://www.youtube.com/embed/SmRzvvJ4TnA?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/SmRzvvJ4TnA/0.jpg"  class="md-card-image">
		    </a>
		    <md-card-content>
		    <p>Interview: Kim Robinson on Wearing the Right Hairstyle</p>
		   </md-card-content>	
		  </md-card>

		 <md-card >
		    <a href="https://www.youtube.com/embed/UaMI4CAy3Js?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/UaMI4CAy3Js/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Hair Rejuvenation from Kim Robinson</p>
		   </md-card-content>
		 </md-card>

		 <md-card >
		    <a href="https://www.youtube.com/embed/JUU-iVvC9WM?autoplay=true" target="_self">
		    	<img width="100%" src="http://img.youtube.com/vi/JUU-iVvC9WM/0.jpg" class="md-card-image">
		    </a>
		   <md-card-content>
		   <p>Kim Robinson教你打造星級派對髮型</p>
		   </md-card-content>
		 </md-card>
		 
		</div>
	</md-content>
	</main>
		<div style="clear:both"></div>

	<ion-footer-bar align-title="left" class="bar-assertive">
    <div layout="row" layout-align="center center" style="margin-left:auto; margin-right:auto">
	    <md-button class="md-icon-button" aria-label="Home">
	          <md-icon md-svg-icon="img/icon/ic_home_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>

	    <md-button class="md-icon-button" aria-label="Kr+ Lookbook">
	          <md-icon md-svg-icon="img/icon/ic_library_books_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>


	    <md-button class="md-icon-button" aria-label="Lookbook">
	          <md-icon md-svg-icon="img/icon/ic_face_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>

	    <md-button class="md-icon-button" aria-label="Home">
	          <md-icon md-svg-icon="img/icon/ic_redeem_white_24px.svg" style="color: greenyellow;"></md-icon>
	    </md-button>
	</div>
</ion-footer-bar >
</div>